
:root {
    --font-concert: 'Concert One', cursive;
    --font-start: 'Press Start 2P', cursive;
}


/* ---------------------------------------------------- */
body {
    background-color: rgb(255, 217, 0);
}

.body-background {
    position: absolute;
    z-index: -3;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 55%;
}

.video {
    height: 100vh;
}

.body-video::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(255,234,0,0.9326995481927711) 25%, rgba(255,229,0,0.13877279635258355) 41%, rgba(255,255,255,0.023271276595744683) 50%, rgba(170,144,185,0.30594604863221886) 59%, rgba(78,24,109,0.8560980243161094) 75%, rgba(0,0,0,1) 88%, rgba(0,0,0,1) 100%);
}

.header-container {
    display: flex;
    align-items: center;
    height: 100px;
}

.header-background {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 100%;
}


.header-logo {
    display: flex;
    align-items: baseline;
    margin: 15px;
    height: 200px;
    width: 360px;
}

.header-title {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-concert);
    font-size: 64px;
    
}




/* ---------------------------------------------------- */



.main-container {

    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    background-color: green;
    height: 400px;
    width: 360px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-img{
    background-color: rgb(0, 255, 149);
    width: 360px;
    height: 360px;
    margin: 5px;
}

.article-content {
    background-color: rgb(4, 73, 7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-start);
    font-size: 24px;
}



/* ---------------------------------------------------- */

.footer-container {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-concert);
    font-size: 48px;
}

.footer-background {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
}