
:root {
    --font-concert: 'Concert One', cursive;
    --font-start: 'Press Start 2P', cursive;
}


/* ---------------------------------------------------- */
body {
    background-color: rgb(0, 119, 255);
}

.body-background {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100% ;
    display: flex;
    justify-content: center;
    opacity: 60%;
    overflow: hidden;
}

.body-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 80%;
    mask-border-outset: initial;
    overflow: hidden;
}

.video {
    height: 100vh;
}

.body-video::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
}

.header-container {
    display: flex;
    align-items: center;
    height: 130px;
}

.header-background {
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 100vw;
}


.header-logo {
    display: flex;
    align-items: baseline;
    margin: 15px;
    height: 200px;
    width: 360px;
}

.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-title {
    color: rgb(253, 207, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-start);
    font-size: 48px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    text-shadow: -2px -2px 0px rgb(46, 22, 255), 
    -2px 2px 2px rgb(46, 22, 255),                    
     2px -2px 0px rgb(46, 22, 255),                  
     2px 0px 0px rgb(46, 22, 255);

}

.header-pokemon-logo {
    width: 480px;
}




/* ---------------------------------------------------- */

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-container {

    height: calc(100vh - 390px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    /* background-color: green; */
    height: 360px;
    width: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 360ms all ease-in-out;
}

.article-img{
    width: 360px;
    height: 360px;
    margin: 5px;
    border-radius: 100px;
    border: 10px;
    border-style: groove;
    border-color: rgb(0, 100, 255);
    box-shadow: -10px 5px rgba(0, 0, 0, .3);
    transition: 360ms all ease-in-out;
}

.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-start);
    font-size: 24px;
    border-radius: 30px;
}

.article-button {
    font-family: var(--font-start);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    border: 5px;
    border-style: groove;
    border-color: rgb(0, 100, 255);
    border-radius: 30px;
    background-color:rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    box-shadow: -10px 5px rgba(0, 0, 0, .3);
    transition: 360ms all ease-in-out;
}

.article-container:hover {
    transform: scale(1.3);
}


.article-button:hover {
    background-color: rgb(255, 183, 0);
    color: rgb(8, 115, 255);
    transform: rotateX(360deg);
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-start);
}

.main-message {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
    border-style: groove;
    border-color: cornflowerblue;

}

.main-message-img {
    height: 140px;
}


/* ---------------------------------------------------- */

.footer-container {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-concert);
    font-size: 48px;
}

.footer-background {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
}